name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.5"

      - run: bun install --frozen-lockfile

      - run: bun run lint
      - run: bun run check-types
      - run: bun run test
